<form>
    <div class="girdle">
        <div class="input">
            <div class="form_pair">
                <label for="passwordField">{{t "users.password"}}</label>
                <input type="password" id="passwordField" name="password" maxlength="256" placeholder="{{t 'users.password'}}" tabindex="1" autocomplete="off"/>
            </div>

            <div class="form_pair">
                <label for="passwordConfirmationField">{{t "users.confirm_password"}}</label>
                <input type="password" id="passwordConfirmationField" name="passwordConfirmation" maxlength="256" placeholder="{{t 'users.password'}}" tabindex="2" autocomplete="off"/>
            </div>
        </div>
    </div>
    <!-- END girdle -->

    {{formControls "change_password.button.change_password"}}

</form>