<ul>
  <li class='underline'>
    <a href="{{userUrl}}" id="header_userProfileLink">
      {{t "header.your_profile"}}
    </a>
  </li>
  <li>
    <a href="{{t helpLinkUrl}}" target="_blank" class="helpLink" id="header_helpLink">
      {{t "help.link"}}
    </a>
  </li>
  <li class='underline'>
    <a href="#/about" id="header_aboutLink">
      {{t "header.about"}}
    </a>
  </li>
  <li>
    <a href='#/logout' id="header_logoutLink">
      {{t "header.sign_out"}}
    </a>
  </li>
</ul>