<form action="#">
    <div>
        <div class="sub_title">{{t "user.dashboard_edit.sub_title"}}</div>
    </div>
    <div>
        <div class="sub_description">{{t "user.dashboard_edit.sub_description"}}</div>
    </div>
    {{> errorDiv}}
    <div class="line sortable_container">
        {{dashboardModuleList modules "selected_modules" "user.dashboard_edit.displayed" "user.dashboard_edit.displayed_note"}}
        {{dashboardModuleList availableModules "available_modules" "user.dashboard_edit.available" null}}
    </div>
    <div class="form_controls">
		<span class="left">
		   <button type="submit" class="submit modalish">{{t "users.button.save_changes"}}</button>
		   <button type="button" class="cancel modalish">{{t "actions.cancel"}}</button>
		</span>
    </div>
</form>
