<div class="title">
    {{#if iconUrl}}
        <img src="{{iconUrl}}" class="workspaceIconLarge" alt=""/>
    {{/if}}
    <div class="item_information">
        <div class="workspace_title" title="{{title}}">{{title}}</div>
        {{#if tagBox}}
             <div class="tag_box"></div>
        {{/if}}
    </div>
</div>
<div class="menus">
    <select class="activities_filter">
        <option value="all_activity">{{t "filter.all_activity"}}</option>
        <option value="only_insights">{{t "filter.only_insights"}}</option>
    </select>
</div>