{{> errorDiv}}

<div class="guts">

    <div class="girdle">
        <div class="content">
            <div class="right">
                <img class="message" src="/images/messaging/message_icon.png" alt="!"/>
                <img class="info" src="/images/messaging/message_info.png" alt="info"/>
                <img class="error" src="/images/messaging/message_error.png" alt="i"/>
            </div>
            <div class="left">
                <h1>{{title}}</h1>

                <p>{{text}}</p>
            </div>
        </div>
        {{#if body}}
            <div class="body">
                {{body}}
            </div>
        {{/if}}
    </div>
    <!-- END girdle -->

    <div id="dialog_bottom" class="form_controls">
        <button type="submit" class="submit modalish hidden" tabindex="1">{{ok}}</button>
        <button type="button" class="cancel modalish" tabindex="2">{{cancel}}</button>
    </div>

</div>