<form action="#">
    <div class="girdle">
        <div class="target_location">
            {{t "create_database_view.target"}}
            <span class="target_location_value" title="{{canonicalName}}">{{canonicalName}}</span>
        </div>

        <input id="create_database_view_name" placeholder="{{t "create_database_view.name"}}" type="text" name="name" tabindex="1" maxlength="64"/>
    </div>
    <!-- END girdle -->

    {{formControls "create_database_view.submit" }}
</form>