<div class="girdle">
    <div class="directions">
        <span class="select_file">{{t "hdfs_data_source.create_external.select_file"}}</span>
        <select>
            {{#each models}}
                <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
        <span class="name_label">{{t "hdfs.create_external.table_name"}}</span>
        {{directions}}
    </div>

    <div class="path_types">
        <input type="radio" id="directory" name="pathType" value="directory" checked="checked"/>
        <label for="directory">{{t "hdfs_data_source.create_external.include_all_files"}}</label>

        <input type="radio" id="pattern" name="pathType" value="pattern"/>
        <label for="pattern">{{t "hdfs_data_source.create_external.specify_pattern"}}</label>

        <input type='text' class='hdfs' name='pattern' value="{{pattern}}"></input>
		<span class="fa fa-question-circle help" data-text='{{t "hdfs_data_source.create_external.specify_pattern_help_text"}}'></span>
    </div>
</div>
<!-- END girdle -->

{{> csvImportConsole }}

{{formControls "hdfs.create_external.ok" }}