<form>
    <div class="girdle">
        <div class="dialog_content">{{t translationKeys.body translationValues}}</div>

            <div class="form_pair">
                <label for="db_username">{{t "data_sources.account.username"}}</label>
                <input type="text" id="db_username" name="dbUsername" maxlength="256" placeholder='{{t "data_sources.account.username"}}' tabindex="1" value="{{dbUsername}}"></input>
            </div>

            <div class="form_pair">
                <label for="db_password">{{t "data_sources.account.password"}}</label>
                <input type="password" id="db_password" name="dbPassword" maxlength="256" placeholder='{{t "data_sources.account.password"}}' tabindex="2" autocomplete="off"></input>
            </div>
    </div>
    <!-- END girdle -->
    
    {{formControls "data_sources.account.button.save" translationKeys.cancel}}
</form>
