{{#if pagination}}
    <div class="pagination content_details"></div>
{{/if}}
{{#if models.length}}
    <div>
        <ul class="list">
         {{#each models}}
            <li data-id="{{id}}" class="{{selected}}">
                <div class="actions">
                    <a class="preview_columns" href="#">{{t "dataset.manage_join_tables.preview_columns"}}</a>
                </div>
                <span class="image icon"><img src="{{imageUrl}}"/></span>
                <div class="text">
                    <div class="main">
                        <span class="name" title="{{name}}">{{name}}</span>
                    </div>
                </div>
            </li>
         {{/each}}
        </ul>
    </div>
{{else}}
    <div class="none">{{t emptyListTranslationKey}}</div>
{{/if}}
