<form>
    <div class="girdle">
        
    <div class="data_source_fields">
        {{generalDataSourceFields this}}
        

        {{#if hdfsDataSource}}
            {{hdfsVersionsSelect false false}}
        {{/if}}

        {{#if gpdbPgOrOracle}}
            {{dbDataSourceFields this}}
        {{/if}}

        {{#if gpOrPg}}
            <div>
                <input type="checkbox" id="ssl" name="ssl" {{#if ssl}}checked{{/if}}/>
                <label for="ssl">{{t "data_sources.dialog.use_ssl"}}</label>
            </div>
        {{/if}}

        {{#if hdfsDataSource}}
            {{hdfsDataSourceFields this}}
        {{/if}}

        {{#if jdbcDataSource}}
            {{jdbcDataSourceFields this}}
        {{/if}}

        {{#if jdbcHiveDataSource}}
            {{hdfsVersionsSelect true true}}
            
            {{jdbcDataSourceFields this}}
           
            {{jdbcHiveDataSourceFields this}}
        {{/if}}

        {{#if gnipDataSource}}
                <div>
                    <label class="required gnip_host" name="host" for="streamUrl">
                        {{t "data_sources.dialog.gnip_url"}}
                        <span class="fa fa-question-circle help" data-text='{{t "data_sources.dialog.gnip_help_text"}}'></span>
                    </label>
                    <input class="gnip_host" type="text" id="streamUrl" name="streamUrl" value="{{streamUrl}}" maxlength="255"/>
                </div>


                <div class="multiple_fields">
                    <div class="width_half_left">
                        <label class="gnip_username required" name="username" for="gnip_username">{{t "data_sources.dialog.gnip_username"}}</label>
                    </div>

                    <div class="width_half_right">
                        <label class="gnip_password required" name="password" for="gnip_password">{{t "data_sources.dialog.gnip_password"}}</label>
                    </div>
                </div>

                <div class="multiple_fields">
                    <div class="width_half_left">
                        <input class="gnip_username" type="text" id="gnip_username" name="username" maxlength="255" value="{{username}}"/>
                    </div>

                    <div class="width_half_right">
                        <input class="gnip_password" type="password" id="gnip_password" name="password" maxlength="255" autocomplete="off" value=""/>
                    </div>
                </div>
        {{/if}}
    </div>
    
        {{> legendRequired}}
        
    </div>
    <!-- END girdle -->
        
    {{formControls "data_sources.edit_dialog.save"}}
</form>
