{{#ifAll hasCredentials viewable}}
    <a class="image" href="{{url}}">
        {{#if stale}}

            <span class="fa-stack stale_marker" title="{{t "dataset.stale.tooltip"}}">
              <span class="fa fa-question fa-stack-1x"></span>
              <span class="fa fa-circle-o fa-stack-2x"></span>
              <span class="fa fa-circle fa-stack-2x"></span>
            </span>
        {{/if}}
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}" alt=""/>
    </a>
{{else}}
    <span class="image">
        <img src="{{iconUrl}}" title="{{humanizedDatasetType this}}" alt=""/>
    </span>
{{/ifAll}}

{{> listItemText}}