<div class="row {{selector}} picker">
    <input type="text" class="month" placeholder='{{t "datepicker.placeholder.month"}}' value="{{date.month}}"/>
    <input type="text" class="day" placeholder='{{t "datepicker.placeholder.day"}}' value="{{date.day}}"/>
    <input type="text" class="year" placeholder='{{t "datepicker.placeholder.year"}}' value="{{date.year}}"/>
</div>