<div id="header"/>

<div class="error_box">

    <div class="message-block">
        <div class="heading">{{title}}</div>
        <div class="content">
            <div class="text">{{text}}</div>
            {{#if message}}
                <div class="text">{{message}}</div>
            {{/if}}
        </div>
    </div>

    <div class="text_tip">
        <div>
            <h4>{{t "application.error_message.choicenext.title"}}</h4>
            <p>
                {{t "application.error_message.choicenext.text"}}
            </p>
        </div>
        
        <div class="choices">
        	<!-- TODO: find a way to fix the go backwards link -->
            <!-- <p><a href="/#" class="link_backwards">{{t "application.error_message.choicenext.link.back"}}</a></p> -->
            <p><a href="/#" class="link_home">{{t "application.error_message.choicenext.link.home"}}</a></p>
        </div>
    </div>
                
</div>
