<div class="girdle">

<div class="directions">
    {{{directions}}}
</div>
<div class="progress_wrapper">
    <div class="progress"></div>
    <a class="automap">{{t "dataset.import.table.automap"}}</a>
</div>
<div class="options">
    <div class="header_options">
        <input id="hasHeader" type="checkbox" {{#if hasHeader}}checked{{/if}}></input>
        <label for="hasHeader">{{t "dataset.import.include_header"}}</label>
    </div>

    <span class="delimiter">{{t "dataset.import.delimiter.title"}}</span>

    <input type="radio" class="delimiter" id="delimiter_tab" name="delimiter" value="&#09;"/>
    <label class="delimiter" for="delimiter_tab">{{t "dataset.import.delimiter.tab"}}</label>

    <input type="radio" class="delimiter" id="delimiter_comma" name="delimiter" value=","/>
    <label class="delimiter" for="delimiter_comma">{{t "dataset.import.delimiter.comma"}}</label>

    <input type="radio" class="delimiter" id="delimiter_semicolon" name="delimiter" value=";"/>
    <label class="delimiter" for="delimiter_semicolon">{{t "dataset.import.delimiter.semicolon"}}</label>

    <input type="radio" class="delimiter" id="delimiter_space" name="delimiter" value=" "/>
    <label class="delimiter" for="delimiter_space">{{t "dataset.import.delimiter.space"}}</label>

    <input type="radio" class="delimiter" id="delimiter_pipe" name="delimiter" value="|"/>
    <label class="delimiter" for="delimiter_pipe">{{t "dataset.import.delimiter.pipe"}}</label>

    <input type="radio" class="delimiter" id="delimiter_other" name="delimiter" value="other"/>
    <label class="delimiter" for="delimiter_other">{{t "dataset.import.delimiter.other"}}</label>

    <input type="text" class="delimiter" name="custom_delimiter" value="{{delimiter}}" maxlength="1" />
</div>

<div class="result_table"></div>

</div>
<!-- END girdle -->

{{formControlsWithDisabledSubmit "dataset.import.table.submit"}}