<div>
    <div class="girdle">
        <div class="headerbar">
            <a class="add_pair right">{{t "hdfs_connection_parameters.dialog.add_pair"}}</a>
        </div>

        <div class="pairs">
            {{#each connectionParameters}}
                <div class="pair line row">
                    <div class="col cols-11">
                        <input type="text" class="key" value="{{key}}"
                               placeholder="{{t "hdfs_connection_parameters.dialog.key"}}"/>
                    </div>

                    <div class="col cols-11">
                        <input type="text" class="value" value="{{value}}"
                               placeholder="{{t "hdfs_connection_parameters.dialog.value"}}"/>
                    </div>

                    <div class="col col-last">
                        <a class="remove_pair">{{t "hdfs_connection_parameters.dialog.remove_pair"}}</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <!-- END girdle -->
    
    {{formControls "hdfs_connection_parameters.dialog.save"}}
</div>
