<h2>{{t "job.quickstart.headline"}}</h2>
<div class="body">{{t "job.quickstart.body"}}</div>

<div class="boxes">
    <div class="add_import_source_data info_box">
        <img src="images/jobs/import_task_intro.png" alt=""/>
        <div class="details">
            <a class="new_import_source_data dialog-launch" href="#">{{t "job.quickstart.add_import_source_data.link"}}</a>
            <span class="text">{{t "job.quickstart.add_import_source_data.text"}}</span>
        </div>
    </div>

    <div class="add_run_work_flow info_box">
        <img src="images/jobs/run_workflow_task_intro.png" alt=""/>
        <div class="details">
            <a class="new_run_work_flow dialog-launch" href="#">{{t "job.quickstart.add_run_work_flow.link"}}</a>
            <span class="text">{{t "job.quickstart.add_run_work_flow.text"}}</span>
        </div>
    </div>

    <div class="add_run_sql info_box">
        <img src="images/jobs/run_sql_task_intro.png" alt=""/>
        <div class="details">
            <a class="new_run_sql dialog-launch" href="#">{{t "job.quickstart.add_run_sql.link"}}</a>
            <span class="text">{{t "job.quickstart.add_run_sql.text"}}</span>
        </div>
    </div>
</div>