<span class="index">{{index}}.</span>

<span class="image"><img src="{{iconUrl}}"/></span>

<div class="item_information">
    <div class="item_name">
        {{#if url}}
            <span title="{{name}}" class="name">{{name}}</span>
        {{else}}
            <span class="name">{{name}}</span>
        {{/if}}
    </div>

    <div class="item_metadata">
        <span class="action">{{t actionKey}}</span>
    </div>

    {{#if moreThanOneTask}}
    <div class="arrows">
        {{#if firstItem}}
            <img src="/images/jobs/arrow-up-disabled.png" class="move_up_arrow arrow_disabled" title=""/>            
        {{else}}
            <img src="/images/jobs/arrow-up.png" class="move_up_arrow" title="Move Up"/>
        {{/if}}

        {{#if lastItem}}
            <img src="/images/jobs/arrow-down-disabled.png" class="move_down_arrow arrow_disabled" title=""/>
        {{else}}
            <img src="/images/jobs/arrow-down.png" class="move_down_arrow" title="Move Down"/>
        {{/if}}
    </div>
    {{/if}}
</div>