{{#each buttons}}
    {{#if view}}
        <button type="button" class="dialog-launch button_action" data-dialog="{{view}}"
            {{#each dataAttributes}}
                data-{{name}}="{{value}}"
            {{/each}}
            {{#if disabled}}
                disabled="disabled"
            {{/if}}
                >{{text}}</button>
        {{#if helpText}}
			<span class="fa fa-question-circle help" data-text="{{helpText}}"></span>
        {{/if}}
    {{else}}
        {{#if url}}
            <a class="button button_action" href="{{url}}">{{text}}</a>
        {{/if}}
    {{/if}}
{{/each}}
