<div class="warning{{#unless warning}} hidden{{/unless}}">
    {{#if warning}}{{renderErrors warning}}{{/if}}
</div>
{{> errorDiv}}

<div class="login_content">
    <div class="card">
        <form class="login" action="/auth/login/" method="post">
            <img class="logo {{branding}}" src="images/branding/{{logo}}"/>
            <div class="content">
                <label for="username">{{t "login.username"}}</label>
                <input type="text" name="username" id="username" maxlength="256" autocomplete="off"/>

                <label for="password">{{t "login.password"}}</label>
                <input type="password" name="password" id="password" maxlength="256" autocomplete="off"/>
            </div>
            <div class="form_controls">
                <button type="submit" class="modalish">{{t "login.button"}}</button>
            </div>
        </form>
    </div>

    <div class="login_footer">
        <div class="legal {{branding}}">
            <p>
                <span class="copyright">{{{copyright}}}</span>
            </p>
        </div>
    </div>
</div>