<span class="image">
    <img src="{{iconUrl}}"/>
</span>

<div class="item_information">

    <div class="item_name">
        <span class="name">{{name}}</span>
    </div>
    <div class="item_metadata">
        <div class="item_target_date">
            {{t "workspace.project.milestones.date.label"}} <span class="target_date">{{targetDate}}</span>
        </div>
        <span class="state">
            {{t stateKey}}
        </span>
    </div>
</div>