<li class="summary">
    <a href="#/workspaces/{{id}}" class="lozenge">
        <span>{{t "workspace.summary"}}</span>
    </a>
</li>

<li class="datasets">
    <a href="#/workspaces/{{id}}/datasets" class="lozenge">
        <span>{{t "workspace.datasets"}}</span>
    </a>
</li>

<li class="workfiles">
    <a href="#/workspaces/{{id}}/workfiles" class="lozenge">
        <span>{{t "workspace.workfiles"}}</span>
    </a>
</li>

{{#unless limitJobs}}
    <li class="jobs">
        <a href="#/workspaces/{{id}}/jobs" class="lozenge">
            <span>{{t "workspace.jobs"}}</span>
        </a>
    </li>
{{/unless}}

{{#unless limitMilestones}}
    <li class="milestones">
        <a href="#/workspaces/{{id}}/milestones" class="lozenge">
            <span>{{t "workspace.milestones"}}</span>
        </a>
    </li>
{{/unless}}