{{#each models}}
    <li>
        <a class="version_link" data-version-id="{{versionId}}">
            <div class="version_info">
                <div class="version_title">{{t "workfile.version_title" versionNum=versionInfo.versionNum}}</div>
                <div class="version_details">{{t "workfile.version_saved_by" authorName=authorName formattedDate=formattedDate}}</div>
            </div>
            <div class="spacer"></div>
        </a>
        {{#if canDelete}}
            <a class="delete_link alert" data-alert="WorkfileVersionDelete" data-version-id="{{versionId}}" data-version-number="{{versionNumber}}" href="#">
                <span class="fa fa-trash delete"></span>{{t "actions.delete"}}
            </a>
        {{/if}}
    </li>
{{/each}}