{{#if hasImage}}
    <div class="image">
    <img class="workspace_image" src="{{imageSrc}}"/>
    </div>
{{/if}}

{{#if showAddNoteInsightLinks}}
    <div class="actions">
        <label>{{t "sidebar.selected.one"}}</label>
        <ul>
            <li><a class="new_note" href="#">{{t "actions.add_note"}}</a></li>
            <li><a class="new_insight" href="#">{{t "actions.add_insight"}}</a></li>
            <li><a class="edit_tags" href="#">{{t "sidebar.edit_tags"}}</a></li>
        </ul>
    </div>
{{/if}}

<div class="workspace_member_list"></div>
<div class="tab_control"></div>
