<form>
    <div class="girdle">
        <div class="pbs pts"><label for="workspaceNameField" class="required">{{t "workspace.settings.name"}}</label></div>

        <input type="text" name="name" id="workspaceNameField" maxlength="256" value="{{name}}" tabindex="1"/>
        <label>
            <input type="checkbox" id="public_checkbox" name="public"
                {{#if public}}
                   checked="checked"
                {{/if}}
                    />
            {{t "workspace.settings.publicly_available"}}
        </label>

        <div class="pbs pts">
            <label>{{t "workspace.settings.summary"}}</label>
        </div>

        <textarea name="summary" rows="2" tabindex="2">{{summary}}</textarea>

        <div class="pbs pts"><label>{{t 'workspace.settings.image.label'}}</label></div>

        <div class="image_container">
            <div class="line">
                <div class="col cols-11">
                    <div class='edit_photo'>
                        <div class="image_upload"/>
                    </div>
                </div>
                <div class="col col-last">
                    <div class="instructions">
                        {{t "workspace.settings.image.instructions"}}
                    </div>
                </div>
            </div>
        </div>

        <div class="pbs pts"><label>{{t "workspace.settings.sandbox.location"}}</label></div>

        {{#if sandboxLocation}}
            <div class="sandboxLocation plm pbs pts">{{sandboxLocation}}</div>
            <div class="plm">
                <input id="workspace_show_sandbox_datasets" class="show_sandbox_datasets" type="checkbox"
                       {{#if showSandboxDatasets}}checked="checked"{{/if}}
                    {{#unless canChangeShowSandboxDatasets}}disabled="disabled"{{/unless}}>
                <label for="workspace_show_sandbox_datasets">{{t "actions.sandbox.show_sandbox_datasets_by_default"}}</label>
            </div>
        {{else}}
            <div class="sandboxLocation plm pbs pts">{{t "workspace.settings.sandbox.none" }}</div>
        {{/if}}

        {{#if canChangeOwner}}
            <div class="pbs pts"><label>{{ t "workspace.settings.change_owner"}}</label></div>
            <select name="owner" id="selectowner" class="owner">
                {{#each members}}
                    <option value={{id}}>{{displayNameFromPerson attributes}}</option>
                {{/each}}
            </select>
        {{else}}
            <div class="pbs pts"><label>{{ t "workspace.settings.workspace_owner"}}</label></div>
            <div class="owner"><a href="{{ownerUrl}}">{{ownerName}}</a></div>
        {{/if}}
        <div class="ptm pbm"><label>{{t "workspace.settings.status"}}</label></div>

        <div class="line">
            <div class="col cols-6">
                <div class="workspace_status plm">
                    <div class="radio pbs">
                        <input type="radio" id="workspace_active" name="status"
                            {{#if active}}
                               checked="checked"
                            {{/if}}
                                />
                        <label for="workspace_active"><span>{{t "workspace.settings.active"}}</span></label>
                    </div>
                    <div class="radio">
                        <input type="radio" id="workspace_archived" name="status"
                            {{#unless active}}
                               checked="checked"
                            {{/unless}}
                                />
                        <label for="workspace_archived"><span>{{t "workspace.settings.archived"}}</span></label>
                    </div>
                </div>
            </div>
            <div class="col col-last">
                <div class="archived_text">
                    {{t "workspace.settings.archived_description"}}
                </div>
            </div>
        </div>
        
        {{> legendRequired}}
        
    </div>
    <!-- END girdle -->

    <div id="dialog_bottom" class="form_controls">
        {{#if canSave}}
            <button type="submit" class="submit modalish" tabindex="99">{{t "actions.save_changes"}}</button>
        {{/if}}
        <button type="button" class="cancel modalish" tabindex="100">{{#if canSave}}{{t "actions.cancel"}}{{else}}{{t "actions.close_window"}}{{/if}}</button>
    </div>
</form>
