<span class="image">
    <img src="{{iconUrl}}" class="profile"/>
</span>

<div class="item_information">
    <span class="name" title="{{name}}">{{name}}</span>
    <div class="item_metadata">
        <div class="location">{{location}}</div>
        <div class="small">
            {{kaggleRank}} {{t "kaggle.competition" count=numberOfEnteredCompetitions}}
        </div>
    </div>
</div>