<div class="module_header">
    <div class="title">{{t "dashboard.site_snapshot.name"}}</div>
</div>

<div class="module_content">
    <ul>
    {{#each dataItems}}
        <li>
            <div class="squareish {{model}}">
                <div class="total">{{total}}</div>
                <div class="model">{{t translation count=total}}</div>
                <div class="increment">{{t "dashboard.site_snapshot.increment" count=increment operator=operator}}</div>
            </div>
        </li>
    {{/each}}
    </ul>
</div>