<div class="module_header">
    <div class="title">{{t "dashboard.workspace_activity.name"}}</div>

    <div class="list_header menus">
        <select class="date_group_filter">
            <option value="day_7">{{t "dashboard.workspace_activity.date_divisions.day_7" }}</option>
            <option value="week_4">{{t "dashboard.workspace_activity.date_divisions.week_4" }}</option>
            <option value="week_12">{{t "dashboard.workspace_activity.date_divisions.week_12" }}</option>
        </select>
    </div>
</div>

{{#if hasModels}}
<div class="module_content">
    <div>
        <div class="chart"></div>
    </div>
</div>
{{else}}
    <div class="empty_state">
        <div class="empty_message">
            <p>{{t "dashboard.workspace_activity.no_activity.text" }}</p>
        </div>
        <div class="text_tip">
            <p>{{t "dashboard.workspace_activity.no_activity.text_tip.text" }}</p>
            
            <p><a href="#/workspaces">{{t "dashboard.workspace_activity.no_activity.text_tip.link.text" }}</a> {{t "dashboard.workspace_activity.no_activity.text_tip.link_more" }}</p>
        </div>
    </div>
{{/if}}