{{#each models}}
    <li data-id="{{id}}">
        {{#if insightCount}}
            <div class="badge">
                <div class="left"/><div class="center">{{insightCount}}</div><div class="right"/>
            </div>
        {{/if}}
        <a class="image" href="{{showUrl}}">
            <img src="{{imageUrl}}"/>
        </a>
        <div class="text">
            <div class="main">
                <a class="name" href="{{showUrl}}">
                    <span title="{{name}}">{{name}}</span>
                </a>
            </div>

                <div class="comment">
                    <div class="count {{#if latestComment}}nonzero{{/if}}">
                        {{insightCountString}}
                    </div>
                {{#if latestComment}}
                    <div class="recent">
                        {{t "dashboard.workspaces.most_recent"}} <span class="date">{{relativeTimestamp latestComment.timestamp}}</span> by <span class="author">{{latestComment.author}}</span>
                    </div>
                {{/if}}
                </div>
        </div>
    </li>
{{/each}}
